/* src/App.css */
.App {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  overflow: hidden; /* Prevent scrollbars on the App container itself */
  background-color: #e9ecef; /* A light background for the page */
}