/* src/App.css */
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #e9ecef;
  padding-top: 60px; /* Add padding for the fixed TopMenu */
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

/* Download button container was removed from here, moved to TopMenu */